# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.venv_geko/
data/
instance/

# Node / React
node_modules/
build/
dist/
.env.local
npm-debug.log*

# Docker
docker-compose.override.yml
*.log

# IDE / Cursor
.vscode/
.idea/
.DS_Store
cursor/

