services:
  backend:
    build: ./backend
    container_name: geko_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - ./data:/app/data
    env_file:
      - .env
    depends_on:
      - db
      - redis

  frontend:
    build: ./frontend
    container_name: geko_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
    depends_on:
      - backend

  redis:
    image: redis:7
    container_name: geko_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  db:
    image: postgres:15
    container_name: geko_db
    environment:
      POSTGRES_USER: geko_user
      POSTGRES_PASSWORD: geko_pass
      POSTGRES_DB: geko_db
    volumes:
      - ./data/db:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  db_data:
  redis_data:
